
.container {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-bar {
    margin-top: 20px;
}

.nav-header-main {
    font-family: "Segoe UI";
    font-size: 20;
}

.nav-header-slogan {
    font-family: "Segoe Print";
    font-size: 12;
}

.section-main {
    height: 100%;
}

.carrousel {
    height: 70%;
}

.rich-me-out-div {
    text-align: center;
}
