
.container {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-bar {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

.nav-header-main {
    font-family: "Segoe UI";
    font-size: 20;
}

.nav-header-slogan {
    font-family: "Segoe Print";
    font-size: 12;
}

.section-main {
    height: 100%;
}

.carrousel {
    height: 60%;
}



header h2{
    font-family: "Segoe Print";
}

.section-header{
    text-align: center;
}

.section-contacts {
    height: 800px;
}

.rouded-img {
    border-radius: 50%;
}

.contact-icon-img{
    width: 80px;
    height: 80px;
}

.center{
    text-align: center;
}

.margin-top {
    margin-top: 50px;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }



.main-header {
    font-size: 30px;
    padding-top: 20%;
}

.vertical-center{
    vertical-align: middle;
}

.carousel-indicators li {    
    background-color: black;
    border-color: black;
}

.carousel-indicators .active {
    background-color: grey;
}

.carousel-control-prev-icon{
    background-color: grey;
}

.carousel-inner{
    height: 400px;
}

.content {
    background-color: #D2E9E3;
}

.dark {
    background-color: black;
}


.caoursel-img {
    width: 350px;
    height: 250px;
    padding-top: 5%;
}

.nav-bar-container {
    background-color: #106369;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
}

h1, h2, h3{
    color: #106369;
}

h4, p {
    color: white;
}

.btn-costum {
    background-color: #106369; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.backgound-green {
    background-color: #106369;
}

.contact-card-left, .contact-card-middle, .contact-card-rigth {
    background-color: #2C3531;
    margin: 0px 10px 0px 10px;
    height: 400px;
}

.contact-card-left:hover {
    transform: scale(1.1, 1.1);
}

.contact-card-middle:hover {
    transform: scale(1.1, 1.1);
}

.contact-card-rigth:hover {
    transform: scale(1.1, 1.1);
}

.background-green {
    background-color: #106369;
    width: 90%;
    color: white;
    height: 40px;
    position: absolute;
    text-align: center;
    padding-top: 7px;
}
